<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina inicial do Projeto</title>
</head>
<body>

<h2> Projeto Controle de Estoque. </h2>
<hr />
<p>
    Use os links abaixo para controle de estoque
    de produtos.

</p>

<ul>
    <li> <a href="{% url 'estoque:categoria' %}">Criar Categorias </a> </li>
    <li> <a href="#">Cadastrar Produto </a> </li>
    <li> <a href="#">Listar Produtos </a> </li>
    <li> <a href="#">Efetuar Busca </a> </li>

</ul>

</body>
</html>